body {
    background-color: #03052e;
    color: #e0673b;
}

.corFundoMenu {
    background-color: #24142e;
}

.iconeMenu{
    width: 50px;
}

.iconeMenu2{
    width: 40px;
}

.corLaranja {
    color: #e0673b;
}

