body {
    background-color: #03052e;
    color: #e0673b;
}

.corFundoMenu {
    background-color: #24142e;
}

.iconeMenu{
    width: 50px;
}

.iconeMenu2{
    width: 40px;
}

.corLaranja {
    color: #e0673b;
}

.cards-container{
    display: flex;
}

.card {
    flex: 1 1 24%;
    max-width: 15%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

/*===========//============//Tela Mais Informações//=============//*/
.container_filme {
    display: flex;
}

.margemDireito{
    margin-right: 10px;
}

.float-bottom {
    position: absolute; 
    bottom: 0;
}

.descricaoFilme{
    width: 500px;
    text-align:justify;
}

